@using ZenithDataLib.Models
@model IEnumerable<ZenithDataLib.Models.Activity>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zenith Society</h1>
    <p class="lead">These are the activities for the week:</p>
</div>

<table class="table">
    @{
        DateTime prevDate = DateTime.MinValue;
        List<KeyValuePair<Activity, Event>> list = new List<KeyValuePair<Activity, Event>>();
    }

    @foreach (var item in Model)
    {
        foreach (var element in item.Events)
        {
            list.Add(new KeyValuePair<Activity, Event>(item, element));
        }
    }

    @{
        List<KeyValuePair<Activity, Event>> SortedList = list.OrderBy(o => o.Value.EventFrom).ToList();
    }

    @foreach (var element in SortedList)
    {
        DateTime date = element.Value.EventFrom.Date;
        string prettyDate = date.ToLongDateString();

        DateTime dt = DateTime.Parse(element.Value.EventFrom.ToString());
        string timeStart = dt.ToString("hh:mm tt");

        dt = DateTime.Parse(element.Value.EventTo.ToString());
        string timeEnd = dt.ToString("hh:mm tt");

        if (prevDate != date)
        {
            prevDate = date;

            <tr>
                <th colspan="2">
                    @prettyDate
                </th>
            </tr>
        }

        <tr>
            <td>
                @timeStart  -
                @timeEnd
            </td>
            <td>
                @element.Key.Description
            </td>
        </tr>
    }
</table>